*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}

header{
    display: block;
    height: 70px;
    background-color: cornflowerblue;
    line-height: 70px;
}

header ul li{
  
    display: inline;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    
}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
 
}


h1{
    text-align: center;
}

.content{
    float: left; /* Выравнивание по правому краю  */ 
    margin: 7px 70px 20px 20px;
}

.content p{
    text-align: justify;
    margin: 10px 0px;
}

.routes a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.map{
    margin-left: 10px;
    text-align: center;
}

.map ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: cornflowerblue;
    margin-top: 15px;
}

.air{
    width: 33%;
    
}

.air a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

